<form class="layui-form" lay-filter="form" id="form">
    <div class="layui-form-item">
        <label class="layui-form-label label-required-next">活动名称</label>
        <div class="layui-input-inline">
            <input type="text" name="title" lay-verify="required" lay-reqText="活动名称不能为空" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label label-required-next">商家</label>
        <div class="layui-input-inline">
            <script type="text/html" template lay-url="{{ layui.setter.apiHost }}/seller/seller/select" lay-done="layui.form.render();">
                <select name="seller_id" lay-filter="seller_id" lay-search="" lay-verify="required" lay-reqText="请选择商家">
                    {{- layui.common.set_select_option(d.data, d.params.seller_id) }}
                </select>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label label-required-next">成团人数</label>
        <div class="layui-input-inline">
            <input type="text" name="group_num" lay-verify="number" lay-reqText="成团人数不能为空" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label label-required-next">成功时间(小时)</label>
        <div class="layui-input-inline">
            <input type="text" name="hour" lay-verify="number" lay-reqText="成功时间(小时)不能为空" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" id="select_at">
        <label class="layui-form-label label-required-next">起止时间</label>
        <div class="layui-input-inline">
            <input type="text" name="start_at" id="start_at" autocomplete="off" class="layui-input" readonly>
        </div>
        <div class="layui-form-mid layui-word-aux">-</div>
        <div class="layui-input-inline">
            <input type="text" name="end_at" id="end_at" autocomplete="off" class="layui-input" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label label-required-next">商品</label>
        <div class="layui-input-block" id="goods_id">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <input type="hidden" name="id" value="">
            <input type="button" lay-submit lay-filter="form-submit" value="确认" class="layui-btn">
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/html" template lay-done="layui.data.sendParams(d.params);"></script>
<script src="../../../../layuiadmin/lib/xm-select.js"></script>
<script>
    layui.data.sendParams = function (params) {
        layui.use(function () {
            let $ = layui.$,
                form = layui.form,
                common = layui.common,
                laydate = layui.laydate,
                seller_id = '',
                model_url = '/market/group';

            //日期
            laydate.render({
                elem: '#select_at',
                type: 'datetime',
                range: ['#start_at', '#end_at']
            });


            form.on('select(seller_id)', function (data) {
                seller_id = data.value;
            });
            //商品选择
            let goods_id = xmSelect.render({
                el: '#goods_id',
                name: 'goods_id',
                radio: true,
                autoRow: true,
                filterable: true,
                remoteSearch: true,
                remoteMethod: function (val, cb) {
                    //这里如果val为空, 则不触发搜索
                    if (!val) {
                        return cb([]);
                    }
                    if (!seller_id) {
                        layer.msg('请先选择商家');
                        return cb([]);
                    }
                    common.ajax(model_url + '/search', {seller_id: seller_id, title: val}, function (result) {
                        return cb(result.data)
                    }, function () {
                        return cb([]);
                    });
                }
            });
            if (params.goods) {
                seller_id = params.seller_id;
                goods_id.setValue([
                    {name: params.goods.title, value: params.goods.id},
                ]);
            }
        });
    }
</script>
