<form class="layui-form" lay-filter="form" id="form">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <button type="button" class="layui-btn layui-btn-sm plupload_btn is_callback" id="url"><i class="layui-icon sm_iconfont icon-yunshangchuan"></i>选择文件</button>
        </div>
    </div>
</form>

<script src="../../../../layuiadmin/lib/plupload/plupload.full.min.js"></script>
<script src="../../../../layuiadmin/lib/plupload/i18n/zh_CN.js"></script>
<script>
    layui.use(['plupload'], function () {
        let $ = layui.$,
            table = layui.table,
            plupload = layui.plupload;

        plupload.init();//初始化上传

        let plupload_callback = {
            url: function (res) {
                if (res.url) {
                    layer.msg('文件上传成功', {
                        time: 1000,
                    }, function () {
                        layer.closeAll();
                        table.reload('table_list');
                    });
                }
                return true;//如果需要判断数量就在这里操作返回false
            },
        }
        plupload.set_callback_obj(plupload_callback);
    });
</script>
