<form class="layui-form" lay-filter="form" id="form">
    <div class="layui-form-item">
        <label class="layui-form-label label-required-next">用户名</label>
        <div class="layui-input-block">
            <textarea name="username" class="layui-textarea" lay-verify="required" lay-reqText="用户名不能为空" placeholder="多个用户名之间逗号隔开"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label label-required-next">充值金额</label>
        <div class="layui-input-block">
            <input type="text" name="amount" lay-verify="price" lay-reqText="充值金额格式错误" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label label-required-next">备注</label>
        <div class="layui-input-block">
            <input type="text" name="note" lay-verify="required" lay-reqText="备注不能为空" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="hidden" name="id" value="">
            <input type="button" lay-submit lay-filter="form-submit" value="确认" class="layui-btn">
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use(['verify'], function () {
        //内容
    });
</script>